<%- include('partials/header'); -%>

<div class="home">
 <img src="https://prod-cdn.preprod.co-vin.in/assets/images/whatiscowinimg.png" />
 <div>
  <h1>What is DistVacc</h1>
  <h3>DistVacc is a platform for the citizens of India to Register for COVID-19 vaccination and schedule their vaccination slots at the nearest vaccination centers.</h3>
 </div>
</div>

<%- include('partials/footer'); -%>